<form action="" method="post" id="idFrmSubmitPekerjaan">
    <table class="table">
        <tr>
            <td colspan="2">
                <label>Nama Perusahaan/Instansi*</label>
                <input type="text" name="company_name" class="form-control" id="idInpNamaPerusahaan" placeholder="Nama Perusahaan">
            </td>
            <td width="150">
                <label>Kota</label>
                <input type="text" name="company_name" class="form-control" id="idInpNamaPerusahaan" placeholder="Kota">
            </td>
            <td width="150">
                <label>Negara</label>
                <input type="text" name="company_name" class="form-control" id="idInpNamaPerusahaan" placeholder="Negara">
            </td>
        </tr>
        <tr>
            <td width="150">
                <label>Waktu Masuk*</label>
                <select class="form-control  inputbiru" name="join_month" id="idWaktuMasuk">
                    <option value="">-Pilih Bulan-</option>
                    <option value="1">Novice</option>
                    <option value="2">Beginner</option>
                    <option value="3">Competent</option>
                    <option value="4">Pro</option>
                    <option value="5">Expert</option>
                </select>
            </td>
            <td width="150">
                <label>&nbsp;</label>
                <select class="form-control  inputbiru" name="join_year" id="idTahunMasuk">
                    <option value="">-Pilih Tahun-</option>
                    <option value="1">Novice</option>
                    <option value="2">Beginner</option>
                    <option value="3">Competent</option>
                    <option value="4">Pro</option>
                    <option value="5">Expert</option>
                </select>
            </td>
            <td>
                <label>Waktu Keluar*</label>
                <select class="form-control  inputbiru" name="resign_month" id="idWaktuKeluar">
                    <option value="">-Pilih Bulan-</option>
                    <option value="1">Novice</option>
                    <option value="2">Beginner</option>
                    <option value="3">Competent</option>
                    <option value="4">Pro</option>
                    <option value="5">Expert</option>
                </select>
            </td>
            <td>
                <label>&nbsp;</label>
                <select class="form-control  inputbiru" name="resign_year" id="idTahunKeluar">
                    <option value="">-Pilih Tahun-</option>
                    <option value="1">Novice</option>
                    <option value="2">Beginner</option>
                    <option value="3">Competent</option>
                    <option value="4">Pro</option>
                    <option value="5">Expert</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Posisi Terakhir*</label>
                <input type="text" name="last_position" class="form-control" id="idInpNamaPosisi" placeholder="Posisi Terakhir">
            </td>
            <td colspan="2">
                <label>Penghasilan Terakhir (IDR)</label>
                <input type="text" name="income" class="form-control" id="idInpIncome" placeholder="Income">
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td colspan="4" align="right">
                <button type="button" class="btn orenwoy" id="idBtnCancelPekerjaan">Cancel</button>
                <button type="button" class="btn biruwoy" id="idBtnSubmitPekerjaan">Submit</button>
            </td>
        </tr>
    </table>
</form>
