
@{
    ViewBag.Title = "Index";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td>
                    <h4 class="biru">Pengalaman Kerja<button type="button" class="btn btn-link" id="idBtnCreatePekerjaan"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button></h4>
                </td>
            </tr>
            <tr class="biru">
                <td>DETAIL PEKERJAAN</td>
                <td>CATATAN</td>
                <td>#</td>
            </tr>
        </thead>
        <tbody id="idTblBodyPekerjaan"></tbody>
    </table>
</div>

<div class="modal fade" id="idMdlCreatePekerjaan" tabindex="-1" role="dialog">
    <div class="modal-dialog tengahwoy" role="document">
        <div class="modal-content lebarwoy">
            <div class="modal-header  birubg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Tambah Pengalaman Kerja</h4>
            </div>
            <div class="modal-body" id="idBodyCreatePekerjaan">



                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="idMdlEditPekerjaan" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header birubg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Ubah Pengalaman Kerja</h4>
            </div>
            <div class="modal-body" id="idBodyEditPekerjaan">



                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    //var vDataSkill =
    //      { 1:'Novice',2:'Beginner',3:'Competent',4:'Pro',5:'Expert' };

    $(document).ready(function () {

        var vStrHtml = '';

        $.ajax({
            url: '/Pekerjaan/Tampil',
            method: 'Get',
            success: function (mdl) {
                debugger;
                $.each(mdl, function (i, d) { //menjahit data ke dalam tabel
                    debugger;
                    vStrHtml = vStrHtml + '<tr class="birutext">' +
                            '<td>' + d.company_name + '</td>' +
                            '<td>' + d.notes + '</td>' +
                            //'<td><button type = "button" class="btn btn-primary UbahKeahlian" dataBarang=\'' + JSON.stringify(d) + '\' > + </button></td>' +

                            '<td class="dropdown">' +
                                '<button class="btn birubg dropdown-toggle" type="button" data-toggle="dropdown">More &nbsp;'+
                                '<span class="caret"></span>'+
                                '</button>'+
                                '<ul class="dropdown-menu">'+
                                '<li><a class="UbahPekerjaan" dataID="'+ d.id +'" href="#">Ubah</a></li>'+
                                '<li><a class="HapusPekerjaan" dataID="' + d.id + '" href="#">Hapus</a></li>' +
                                '</ul>' +
                             '</td>' +
                            '</tr>';

                });

                $('#idTblBodyPekerjaan').append(vStrHtml); //memasukan data yg sudah di jahit ke dalam body

                $('.UbahPekerjaan').click(function () {
                    var vDataID = parseInt($(this).attr('dataID'));
                    debugger;

                    $.ajax({
                        url: '/Pekerjaan/Edit',
                        data: { ID: vDataID },
                        method: 'Post',
                        success: function (mdl) {
                            $('#idBodyEditPekerjaan').empty();
                            $('#idBodyEditPekerjaan').append(mdl);
                            $('#idget').val(vDataID); //memasukan nilai vDataID ke dalam idget pada partial view _Edit
                            $('#idMdlEditPekerjaan').modal('show');
                            debugger;
                        },
                        error: function (mdl) {
                            debugger;
                        }
                    });

                });

                $('.HapusPekerjaan').click(function () {
                    var vDataID = parseInt($(this).attr('dataID'));
                    debugger;
                    var r = confirm("Anda Yakin Ingin Menghapus Data ??");
                    if (r == true) {
                        $.ajax({
                            url: '/Pekerjaan/Delete',
                            data: { ID: vDataID },
                            method: 'Post',
                            success: function (mdl) {
                                alert('Berhasil Menghapus Data');
                                location.reload();
                                debugger;
                            },
                            error: function (mdl) {
                                debugger;
                            }
                        });
                    }
                });
            }
        });

        $('#idBtnCreatePekerjaan').click(function () {
            $.ajax({
                url: '/Pekerjaan/Create',
                method: 'Get',
                success: function (mdl) {
                    debugger;
                    $('#idBodyCreatePekerjaan').empty();
                    $('#idBodyCreatePekerjaan').append(mdl);

                    $('#idMdlCreatePekerjaan').modal('show');

                    debugger;
                },
                error: function (mdl) {
                    debugger;
                }
            });

        });

    });
</script>