<form action="" method="post" id="idFrmSubmitKeahlian">
    <table class="table">
        <tr>
            <td>
                <label>Nama Keahlian</label>
                <input type="text" name="skill_name" class="form-control" id="idInpNamaKeahlian" placeholder="Nama Keahlian">
            </td>
            <td>
                <label>Level Keahlian *</label>
                <select class="form-control  inputbiru" name="skill_level_id" id="idSkillLevel">
                    <option value="">-Pilih-</option>
                    <option value="1">Novice</option>
                    <option value="2">Beginner</option>
                    <option value="3">Competent</option>
                    <option value="4">Pro</option>
                    <option value="5">Expert</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Catatan</label>
                <textarea class="form-control" id="txtarea" name="notes" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <button type="button" class="btn orenwoy" id="idBtnCancelKeahlian">Cancel</button>
                <button type="button" class="btn biruwoy" id="idBtnSubmitKeahlian">Submit</button>
            </td>
        </tr>
    </table>
</form>
<script>

    //$(document).ready(function () {
    //    var vSelect = '';

    //    $.ajax({
    //        url: '/Keahlian/Select',
    //        method: 'Get',
    //        success: function (mdl) {
    //            debugger;
    //            $.each(mdl, function (i, d) { //menjahit data ke dalam tabel
    //                vSelect = vSelect +
    //                    '<option value="' + d.skill_level_id + '">' +
    //                        d.name +
    //                        '</option>';
    //            });
    //            $('#idSkillLevel').append(vSelect); //memasukan data yg sudah di jahit ke dalam body
    //        }
    //    });
    //});


    $('#idBtnCancelKeahlian').click(function () {
        $('#idMdlCreateKeahlian').close;
        location.reload();
    });

    $('#idBtnSubmitKeahlian').click(function () {
        debugger;
        var vDatabarang = $('#idFrmSubmitKeahlian').serialize();
        $.ajax({
            url: '/Keahlian/Save',
            data: vDatabarang,
            method: 'Post',
            success: function (mdl) {
                debugger;
                if (mdl.Simpan == "Berhasil") {
                    alert("Data berhasil disimpan");
                    //$('.modal').modal('hide');
                    //$.modal.close();
                    $('#idMdlCreateKeahlian').close;
                    location.reload();

                }
                else {
                    debugger;
                    alert("Data gagal disimpan");
                }
            }
        });
    });
</script>