<form action="" method="post" id="idFrmEditKeahlian">
    <table class="table">
        <tr>
            <td>
                <label>Nama Keahlian</label>
                <input type="text" name="skill_name" class="form-control" id="idInpNamaKeahlian" placeholder="Nama Keahlian">
                <input type="hidden" name="id" id="idget"/> 
            </td>
            <td>
                <label>Level Keahlian *</label>
                <select class="form-control" name="skill_level_id" id="idSkillLevel">
                    <option value="">-Pilih-</option>
                    <option value="1">Novice</option>
                    <option value="2">Beginner</option>
                    <option value="3">Competent</option>
                    <option value="4">Pro</option>
                    <option value="5">Expert</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Catatan</label>
                <textarea class="form-control" id="txtarea" name="notes" rows="3" ></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <button type="button" class="btn orenwoy" id="idBtnCancelKeahlian">Cancel</button>
                <button type="button" class="btn biruwoy" id="idBtnEditKeahlian">Submit</button>
            </td>
        </tr>
    </table>
</form>

<script>
    $(document).ready(function () {

        //var vSelect = '';

        //$.ajax({
        //    url: '/Keahlian/Select',
        //    method: 'Get',
        //    success: function (mdl) {
        //        debugger;
        //        $.each(mdl, function (i, d) { //menjahit data ke dalam tabel
        //            vSelect = vSelect +
        //                '<option value="' + d.skill_level_id + '">' +
        //                    d.name +
        //                    '</option>';
        //        });
        //        $('#idSkillLevel').append(vSelect); //memasukan data yg sudah di jahit ke dalam body
        //    }
        //});

        $.ajax({
            url: '/Keahlian/AmbilData',
            data: { ID: $('#idget').val() },
            method: 'Get',
            success: function (mdl) {
                debugger;
                $('#idInpNamaKeahlian').val(mdl.skill_name);
                $('#txtarea').val(mdl.notes);
                $('#idSkillLevel').val(mdl.skill_level_id).selected;
            }
        });

        $('#idBtnCancelKeahlian').click(function () {
            $('#idMdlCreateKeahlian').close;
            location.reload();
        });

        $('#idBtnEditKeahlian').click(function () {
            debugger;
            var vDatabarang = $('#idFrmEditKeahlian').serialize();
            $.ajax({
                url: '/Keahlian/EditSimpan',
                data: vDatabarang,
                method: 'Post',
                success: function (mdl) {
                    if (mdl.EditSimpan == "Berhasil") {
                        debugger;
                        alert("Data berhasil diEdit");
                        //$('.modal').modal('hide');
                        //$.modal.close();
                        $('#idMdlEditKeahlian').close;
                        location.reload();

                    }
                    else {
                        debugger;
                        alert("Data gagal diEdit");
                    }
                }
            });
        });

    });
</script>